*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokedex-half{
    width: 30%;
    height: 90%;
    background-color: rgb(191, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    position: relative;

}
/* Pokedex Header */
.pokedex-header{
    width: 100%;
    height: 15%;
    background-color: red;
    position: absolute;
    display: flex ;
    border: 4px black solid;
}

.circle{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: 4px black solid;
    margin: 10px 15px
}

.circle--big{
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle--big > div{
    width: 75%;
    height: 75%;
    background-color: aqua;
}

.circle--yellow{
    background-color: yellow;
}

.circle--green{
    background-color: lightgreen;
}

.circle--red{
    background-color: rgb(255, 50, 50);
}

/*Pokedex Control*/

.control-content{
    width: 90%;
    height: 95%;
    margin: 10px;
    border: 5px black solid;
    display: grid;
    justify-items: center;
    grid-template-rows: 2fr  4fr  2fr;
}

.image-container{
    width: 90%;
    height: 100%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.poke-img{
    width: 80%;
    height: 70%;
    background-image: url("./img/Background1.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-img{
    width: 80%;
    
}

.details-container{
    width: 90%;
    height: 100%;
    grid-row: 3 / 4 ;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 2fr;
    align-items: center;
}

.circle--details{
    width: 55px;
    height: 55px;
    background-color: blue;
}

.small-rectangle{
    width: 80%;
    height: 20%;
    border-radius: 20px;
}

.small-rectangle--green{
    background-color: lightgreen;
}

.small-rectangle--orange{
    background-color: orange;
}

.big-rectangle{
    width: 80%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    border-radius: 20px;
    grid-area: 2 / 1 / 3 / 4;
}

.big-rectangle__input{
    width: 75%;
    height: 60%;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 20px;
}

.big-rectangle__button{
    width: 25%;
    height: 60%;
    background-color: yellow;
    border: 2px rgba(128, 128, 128, 0.452) solid;
    border-radius: 20px;
}

.pad{
    width: 85%;
    height: 85%;
    grid-area: 1 / 4 / 3 / 5;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.direction-pad{
    width: 100%;
    height: 100%;
    background-color: black;
}

.direction-pad--up{
    grid-area: 1 / 2 / 2 / 3;
    border-radius: 15px 15px 0 0;
}

.direction-pad--left{
    grid-area: 2 / 1 / 3 / 2;
    border-radius: 15px 0 0 15px;
}

.direction-pad--right{
    grid-area: 2 / 3 / 3 / 4;
    border-radius: 0 15px 15px 0;
}

.direction-pad--down{
    grid-area: 3 / 2 / 4 / 3;
    border-radius: 0 0 15px 15px ;
}

.direction-pad--middle{
    grid-area: 2 / 2 / 3 / 3;
}

/* Stats */

.pokedex-half--second{
    align-content: space-evenly;
}

.stats{
    width: 85%;
    height: 50%;
    border-radius: 10px;
    background-color: rgb(0, 0, 101);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats-graphic{
    width: 70%;
    height: 75%;
    background-color: rgba(255, 166, 0, 0.453);
    border: 2px orange solid;
    position: absolute;
    z-index: 1;
    clip-path:  polygon(50% 0%, 0% 38%, 13% 100%, 87% 100%, 100% 38%);
}

.pentagono{
    height: 80%;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path:  polygon(50% 00%, 0% 38%, 13% 100%, 87% 100%, 100% 38%);
}

.pentagono::before{  
    content: '';
    width: 99%;
    height: 99%;
    background: rgb(0, 0, 101);
    position: absolute;
    clip-path:  polygon(50% 0%, 0% 38%, 13% 100%, 87% 100%, 100% 38%);
}

.text-stats{
    width: 30px;
    height: auto;
    z-index: 2;
    color: white;
    position: absolute;
}

.text-stats--speed{
    bottom: 90%;
}

.text-stats--sd{
    left: 85%;
    bottom: 60% ;
}

.text-stats--sa{
    left: 78%;
    top: 90%;
}

.text-stats--attack{
    right: 78%;
    top: 90%;
}

.text-stats--hp{
    right: 85%;
    bottom: 60%;
}
